.aboutFlex {
  display: flex;
}

.profilepic {
  height: 500px;
  width: 40%;
  margin: 0% 2.5%;
}

.profilepic img {
  width: 100%;
  border-radius: 20px;
}

.aboutDescription {
  width: 60%;
  margin: 0% 2.5%;
}

.about {
  padding: 25px 0px;
  height: 700px;
}

.about h3 {
  margin: 25px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.about p {
  font-size: 1.5rem;
  padding: 30px;
  line-height: 2rem;
  background-color: lavender;
  border-radius: 20px;
}