.card {
  background-color: #2E3445;
  border-radius: 20px;
  color: #DBE8D4;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
  width: 100%;
  font-size: 1.2rem;
}

.aboutCards {
  display: flex; 
}

.card h5 {
  margin: 5px;
  font-size: 1.4rem;
}

.card p {
  margin: 10px;
}