.footer {
  margin-top: 100px;
  background-color: #204157;
  color: #EAEFF3;
  min-height: 200px;
}

.footnav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footnav p {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #EAEFF3;
}

.footnav li a {
  text-align: center;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #EAEFF3;
  margin-top: 25px;
}

