.skills {
  border: 1px solid red;
}

.skills h3 {
  margin: 25px 0px;
  padding: 0px 0px 25px 0px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #000022;
  border-bottom: 1px solid #000022;
}

.skillcard div {
  background-color: #000022;
  border-radius: 20px;
  color: #e7eaf6;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
  min-width: calc(100% / 3 - 10px);
  font-size: 1.2rem;
}

.skillcard {
  display: flex;
  flex-wrap: wrap;
}