.skills h3 {
  margin: 25px 0px;
  padding: 0px 0px 25px 0px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #DBE8D4;
  border-bottom: 1px solid #DBE8D4;
}

.skillContainer {
  color: #DBE8D4;
  display: flex;
  border: 1px solid red;
}

.skillContainer h5 {
  font-size: 1.2rem;
  padding: 10px;
  margin: 0px;
}

.skillContainer h5:hover {
  background-color: #DBE8D4;
  cursor: pointer;
  color: #222733;
}

skill_type {
  background-color: transparent;
}

.skill-type-selected {
  background-color: #DBE8D4;
  color: #222733
}

.skillSidebar {
  width: 20%;
  text-align: center;
}

.skillContainer article {
  border: 1px solid blue;
  width: 80%;
  margin: 10px 20px;
}